rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Rules for user avatars
    // A user can read their own avatar, and write to their own avatar directory.
    match /avatars/{userId}/{fileName} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // This feature is disabled for now.
    match /signatures/{userId}/{signatureFile} {
      allow read, write: if false;
    }
  }
}
